/* Desktop Layout */
.container{
  flex-direction: column;
  align-items: center;
}
.header, .main{
  width: 1000px;
}
.navigation, .footer{
  width: 100%;
}

/* header */
.header{
  position: relative;
}
/* logo */
.logo{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 0;
  margin-top: -29px;
}
/* 멤버링크 */
.member{
  background: lime;
  padding-left: 0;
  margin: 0;
  list-style: none;
  float: right;
}
.member li{
  /* background: orange; */
  float: left;
}
/* search form */
.search-form{
  clear: both;
  text-align: right;
  /* margin-top: 5px; */
}

/* 네비게이션 */
.button-burger{
  display: none;
}
.menu{
  background: #988574;
  box-shadow: 0 -1px 10px 0 #999, 0 1px 10px 0 #999;
}
.menu-list{
  padding-left: 0;
  margin: 1em auto 0;
  list-style-type: none;
  width: 1000px;
  /* background: yellow; */
  color: white;
  overflow: hidden;
}
.menu-item{
  /* background: pink; */
  float: left;
}
.menu-link{
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 0px 1px 0 #000, 1px 0 0 #000, 0px -1px 0 #000, -1px 0 0 #000;
}
.submenu{
  margin: 1em 0;
  font-size: 1.5rem;
}
.menu-item:nth-child(n+2){
  margin-left: 68px;
}

/* 메인콘텐츠 */
.main{
  justify-content: space-between;
}
.book{
  width: 320px;
}
.news{
  width: 640px;
}
.board{
  width: 320px;
}
.favorite{
  width: 260px;
}
.twitter{
  width: 340px;
}
