/* Desktop Layout */
.container{
  flex-direction: column;
  align-items: center;
}
.header, .main{
  width: 1000px;
}
.navigation, .footer{
  width: 100%;
}

/* header */
.header{
  position: relative;
  padding-bottom: 1em;
}
/* logo */
.logo{
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -29px;
}
.logo img{
  vertical-align: top;
}
/* 멤버링크 */
.member{
  font-size: 0;
  text-align: right;
  padding: 2px 0;
  margin-right: -1.4rem;
}
.member li, .member a{
  display: inline-block;
}
.member li{
  font-size: 1.4rem;
}
.member a{
  padding: 0.5em 1em;
}
/* search form */
.search-form{
  text-align: right;
}
input[type='search']{
  width: 400px;
  padding-left: 1em;
}
.btn-search{
  padding: 5px 10px;
  border: 1px solid #666;
  background: #988574;
  border-radius: 5px;
  color: #ffffff;
  height: 32px;
}
/* 네비게이션 */
.button-burger{
  display: none;
}
.menu{
  background: #988574;
  box-shadow: 0 -1px 10px 0 #999, 0 1px 10px 0 #999;
}
.menu-list{
  padding-left: 0;
  margin: 1em auto 0;
  list-style-type: none;
  width: 1000px;
  color: white;
  overflow: hidden;
}
.menu-item{
  float: left;
}
.menu-link{
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 0px 1px 0 #000, 1px 0 0 #000, 0px -1px 0 #000, -1px 0 0 #000;
}
.submenu{
  margin: 1em 0;
  font-size: 1.5rem;
}
.menu-item:nth-child(n+2){
  margin-left: 68px;
}

/* 메인콘텐츠 */
.main{
  justify-content: space-between;
}
.book{
  width: 320px;
}
.news{
  width: 640px;
}
.board{
  width: 320px;
}
.favorite{
  width: 260px;
}
.twitter{
  width: 340px;
}
/* 푸터 */
.footer{
  text-align: center;
}