/* Common Layout */
*, *::before, *::after{
  box-sizing: border-box;
}

.container{
  background: #fff;
  height: 100vh;
  display: flex;
}

.header, .navigation, .main, .footer{
  width: 100%;
}

/* 메인컨텐츠 */
.main{
  background: skyblue;
  height: 50vh;
  display: flex;
  flex-flow: row wrap;
}
.book, .news, .board, .favorite, .twitter{
  width: 100%;
  background: rgba(255,255,0, 0.5);
}

/* 푸터 */
.footer{
  background: orange;
  height: 20vh;
}
